<ion-view view-title="Reddit">
  <ion-content class="padding">
    <h2>THIS WILL HAVE REDDIT DATA</h2>
	<p>
	<a href = "{{result.data.children[0].data.url}}">
		<img src="{{result.data.children[0].data.thumbnail}}"></a>
		Title:  {{result.data.children[0].data.title}}
	</p>
	<a href = "https://www.reddit.com{{result.data.children[0].data.permalink}}">Full Thread</a>
	<br>
	<br>
	<p>
	<a href = "{{result.data.children[1].data.url}}">
		<img src="{{result.data.children[1].data.thumbnail}}"></a>
		Title:  {{result.data.children[1].data.title}}
	</p>
	<a href = "https://www.reddit.com{{result.data.children[1].data.permalink}}">Full Thread</a>
	<br>
	<br>
	<p>
	<a href = "{{result.data.children[2].data.url}}">
		<img src="{{result.data.children[2].data.thumbnail}}"></a>
		Title:  {{result.data.children[2].data.title}}
	</p>
	<a href = "https://www.reddit.com{{result.data.children[2].data.permalink}}">Full Thread</a>
	<br>
	<br>
	<p>
	<a href = "{{result.data.children[3].data.url}}">
		<img src="{{result.data.children[3].data.thumbnail}}"></a>
		Title:  {{result.data.children[3].data.title}}
	</p>
	<a href = "https://www.reddit.com{{result.data.children[3].data.permalink}}">Full Thread</a>
	<br>
	<br>
	<p>
	<a href = "{{result.data.children[4].data.url}}">
		<img src="{{result.data.children[4].data.thumbnail}}"></a>
		Title:  {{result.data.children[4].data.title}}
	</p>
	<a href = "https://www.reddit.com{{result.data.children[4].data.permalink}}">Full Thread</a>
	<br>
	<br>
	<p>
	<a href = "{{result.data.children[5].data.url}}">
		<img src="{{result.data.children[5].data.thumbnail}}"></a>
		Title:  {{result.data.children[5].data.title}}
	</p>
	<a href = "https://www.reddit.com{{result.data.children[5].data.permalink}}">Full Thread</a>
	<br>
	<br>
	<p>
	<a href = "{{result.data.children[6].data.url}}">
		<img src="{{result.data.children[6].data.thumbnail}}"></a>
		Title:  {{result.data.children[6].data.title}}
	</p>
	<a href = "https://www.reddit.com{{result.data.children[6].data.permalink}}">Full Thread</a>
	<br>
	<br>
	<p>
	<a href = "{{result.data.children[7].data.url}}">
		<img src="{{result.data.children[7].data.thumbnail}}"></a>
		Title:  {{result.data.children[7].data.title}}
	</p>
	<a href = "https://www.reddit.com{{result.data.children[7].data.permalink}}">Full Thread</a>
	<br>
	<br>
	<p>
	<a href = "{{result.data.children[8].data.url}}">
		<img src="{{result.data.children[8].data.thumbnail}}"></a>
		Title:  {{result.data.children[8].data.title}}
	</p>
	<a href = "https://www.reddit.com{{result.data.children[8].data.permalink}}">Full Thread</a>
	<br>
	<br>
	<p>
	<a href = "{{result.data.children[9].data.url}}">
		<img src="{{result.data.children[9].data.thumbnail}}"></a>
		Title:  {{result.data.children[9].data.title}}
	</p>
	<a href = "https://www.reddit.com{{result.data.children[9].data.permalink}}">Full Thread</a>
	<br>
	<br>
	<p>
	<a href = "{{result.data.children[10].data.url}}">
		<img src="{{result.data.children[10].data.thumbnail}}"></a>
		Title:  {{result.data.children[10].data.title}}
	</p>
	<a href = "https://www.reddit.com{{result.data.children[10].data.permalink}}">Full Thread</a>
	<br>
	<br>
	<p>
	<a href = "{{result.data.children[11].data.url}}">
		<img src="{{result.data.children[11].data.thumbnail}}"></a>
		Title:  {{result.data.children[11].data.title}}
	</p>
	<a href = "https://www.reddit.com{{result.data.children[11].data.permalink}}">Full Thread</a>
	<br>
	<br>
	<p>
	<a href = "{{result.data.children[12].data.url}}">
		<img src="{{result.data.children[12].data.thumbnail}}"></a>
		Title:  {{result.data.children[12].data.title}}
	</p>
	<a href = "https://www.reddit.com{{result.data.children[12].data.permalink}}">Full Thread</a>
	<br>
	<br>
	<p>
	<a href = "{{result.data.children[13].data.url}}">
		<img src="{{result.data.children[13].data.thumbnail}}"></a>
		Title:  {{result.data.children[13].data.title}}
	</p>
	<a href = "https://www.reddit.com{{result.data.children[13].data.permalink}}">Full Thread</a>
	<br>
	<br>
	<p>
	<a href = "{{result.data.children[14].data.url}}">
		<img src="{{result.data.children[14].data.thumbnail}}"></a>
		Title:  {{result.data.children[14].data.title}}
	</p>
	<a href = "https://www.reddit.com{{result.data.children[14].data.permalink}}">Full Thread</a>
	<br>
	<br>
  </ion-content>
</ion-view>
