<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


	<!-- Google Maps Tab -->
	<ion-tab title="Google Maps" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/google">
    <ion-nav-view name="tab-google"></ion-nav-view>
	</ion-tab>
	
	<!-- Reddit Tab -->
	<ion-tab title="Reddit" icon-off="ion-social-reddit-outline" icon-on="ion-social-reddit" href="#/tab/Reddit">
    <ion-nav-view name="tab-Reddit"></ion-nav-view>
	</ion-tab>
	
	<!-- Score Tracker Tab -->
	<ion-tab title="Score Tracker" icon-off="ion-ios-paw-outline" icon-on="ion-ios-paw" href="#/tab/Tracker">
    <ion-nav-view name="tab-Tracker"></ion-nav-view>
	</ion-tab>
	
	<!-- Score Viewer Tab -->
	<ion-tab title="Score Viewer" icon-off="ion-ios-eye-outline" icon-on="ion-ios-eye" href="#/tab/Viewer">
    <ion-nav-view name="tab-Viewer"></ion-nav-view>
	</ion-tab>

	

	


</ion-tabs>
